/** Fonts **/
@import url("./custom-font.css");
/* Overrides */
@import url("./overrides.css");
/* Defaults */

.pf-v5-c-login__container {
  display: grid;
  grid-template-areas:
    "main header"
    "main footer"
    "main .";
  grid-template-columns: var(
    --pf-v5-c-login__container--xl--GridTemplateColumns
  );
  grid-column-gap: var(--pf-v5-c-login__container--xl--GridColumnGap);
  justify-content: center;
  padding-inline-start: var(--pf-v5-c-login__container--PaddingLeft);
  padding-inline-end: var(--pf-v5-c-login__container--PaddingRight);
}

.pf-v5-c-login__main-body .pf-v5-c-alert {
  margin-bottom: var(--pf-v5-global--spacer--md);
}

.pf-v5-c-background-image {
  --pf-v5-c-background-image--BackgroundColor: var(
    --pf-v5-global--BackgroundColor--light-200
  );
}

.pf-v5-c-login__footer {
  color: var(--pf-v5-global--Color--dark-100);
}
