/** Fonts **/
@import url("./custom-font.css");
/* Overrides */
@import url("./overrides.css");
/* Defaults */

.pf-v5-c-login__container {
  grid-template-areas: "main";
  grid-template-columns: 34rem;
}

.login-pf body {
  /* background: #e1e1e1; */
  background-color:hsla(349,0%,100%,1);
  background-image:
  radial-gradient(at 38% 27%, hsla(0,0%,94%,1) 0px, transparent 50%),
  radial-gradient(at 51% 30%, hsla(357,34%,76%,1) 0px, transparent 50%),
  /* radial-gradient(at 90% 96%, rgb(255, 208, 208) 0px, transparent 50%), */
  radial-gradient(at 57% 61%, rgb(222, 181, 181) 0px, transparent 50%);
  background-size: cover;
  height: 100%;
}

.pf-v5-c-login__main-body .pf-v5-c-alert {
  margin-bottom: var(--pf-v5-global--spacer--md);
}
